<style type="text/css">

h1 {
    background-color:white;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    margin:5;
}

h2 {
    background-color:white;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    margin:5;
}

p {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}

</style>
